[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:RovifyLabGit/imgui.git
